<!DOCTYPE html>
<html> 
    <body> 
        <!--<div class="nav-wrapper"></div>-->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li style="float:left; display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none">Machine Learning Dashboard</li>
            <li><a href="save.html">Save</a></li>
            <li><a href="models.html">Run Model</a></li>            
            <li><a href="dataset.html">Select Dataset</a></li>
            <li><a href="guide.html">Get Started</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </body>
</html>